<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png" />
    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&amp;family=Lora:wght@400;700&amp;family=Montserrat:wght@400;500;600;700&amp;family=Nunito:wght@400;700&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Libs CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/fontawesome/fontawesome.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/libs/aos/dist/aos.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/libs/choices.js/public/assets/styles/choices.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/libs/flickity-fade/flickity-fade.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/libs/flickity/dist/flickity.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/libs/highlightjs/styles/vs2015.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/libs/jarallax/dist/jarallax.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/libs/quill/dist/quill.core.css' %}"
    />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}" />
    <title>Skola</title>
  </head>
  <body>
    <!-- JAVASCRIPT
         ================================================== -->
    <!-- Libs JS -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'assets/libs/aos/dist/aos.js' %}"></script>
    <script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>
    <script src="{% static 'assets/libs/countup.js/dist/countUp.min.js' %}"></script>
    <script src="{% static 'assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
    <script src="{% static 'assets/libs/flickity/dist/flickity.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/libs/flickity-fade/flickity-fade.js' %}"></script>
    <script src="{% static 'assets/libs/highlightjs/highlight.pack.min.js' %}"></script>
    <script src="{% static 'assets/libs/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/libs/isotope-layout/dist/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/libs/jarallax/dist/jarallax.min.js' %}"></script>
    <script src="{% static 'assets/libs/jarallax/dist/jarallax-video.min.js' %}"></script>
    <script src="{% static 'assets/libs/jarallax/dist/jarallax-element.min.js' %}"></script>
    <script src="{% static 'assets/libs/parallax-js/dist/parallax.min.js' %}"></script>
    <script src="{% static 'assets/libs/quill/dist/quill.min.js' %}"></script>
    <script src="{% static 'assets/libs/smooth-scroll/dist/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'assets/libs/typed.js/lib/typed.min.js' %}"></script>
    <!-- Map -->

    <!-- Theme JS -->
    <script src="{% static 'assets/js/theme.min.js' %}"></script>
  </body>
</html>
