\{% extends 'youtube_search/base1.html' %}
{% load static %}
{%block css%}
h1,h2{
    color:white;
    
}
p{
    color:white;

}
{%endblock%}


{% block content %}
<div class="container">
    <div class="video-container">
        <div class="video-player">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="video-details">
        <h1>{{ video.title }}</h1>
        <!-- <h1>{{ video.title }}</h1>  -->
        <p class="video-description">{{ video.description }}</p>
        <button class="favorite-button" data-video-id="{{ video.video_id }}">Add to Playlist</button>
    </div>
</div>
<div class="container">
    <div class="sidebar">
        <h2>Recommended Videos</h2>
        <ul class="recommended-videos">
            {% for recommendation in recommendations %}
            <li>
                <div class="thumbnail">
                    <img src="{{ recommendation.thumbnail_url }}" alt="{{ recommendation.title }}">
                </div>
                <div class="video-info">
                    <h5>{{ recommendation.title }}</h5>
                    <p>{{ recommendation.description }}</p>
                    <button class="open-video-button" data-video-id="{{ recommendation.video_id }}">Open Video</button>
                    <button class="favorite-button" data-video-id="{{ recommendation.video_id }}">Add to Playlist</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            
            $('.favorite-button').click(function () {
                const videoId = $(this).data('video_id');
                const button = $(this);

                // Send AJAX request to add video to playlist
                $.ajax({
                    url: '/add-to-playlist/' + videoId + '/',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        // Update button appearance or perform other actions
                        button.text('Added to Playlist');
                        button.prop('disabled', true);
                    }
                });
            });
            $('.open-video-button').click(function () {
                const video1Id = $(this).data('video-id');
                const videoUrl = 'https://www.youtube.com/embed/' + video1Id;

                // Open the video in a new window covering 80% of the screen
                const width = Math.round($(window).width() * 0.8);
                const height = Math.round($(window).height() * 0.8);
                const left = Math.round(($(window).width() - width) / 2);
                const top = Math.round(($(window).height() - height) / 2);

                window.open(videoUrl, '_blank', `width=${width}, height=${height}, top=${top}, left=${left}`);
            });

        });
    </script>


{% endblock %}
